系統別MⅡoocyteのRNAseqのデータをまとめるコード(過去のデータとの結合版も有)<br>
seqDataにoutput

In [1]:
#!/usr/bin/env python

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [3]:
#データの読み込み rep1
BDF1_1 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0028_D04_Dr_Funaya_1_BDF1_MII_S28_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0028_D04_Dr_Funaya_1_BDF1_MII_S28_L002.genes.results',sep='\t')
ICR_1 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0029_E04_Dr_Funaya_1_ICR_MII_S29_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0029_E04_Dr_Funaya_1_ICR_MII_S29_L002.genes.results',sep='\t')
ddY_1 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0030_F04_Dr_Funaya_1_ddY_MII_S30_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0030_F04_Dr_Funaya_1_ddY_MII_S30_L002.genes.results',sep='\t')

In [4]:
#データの読み込み rep2
BDF1_2 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0031_G04_Dr_Funaya_2_BDF1_MII_S31_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0031_G04_Dr_Funaya_2_BDF1_MII_S31_L002.genes.results',sep='\t')
ICR_2 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0032_H04_Dr_Funaya_2_ICR_MII_S32_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0032_H04_Dr_Funaya_2_ICR_MII_S32_L002.genes.results',sep='\t')
ddY_2 = pd.read_csv('/Volumes/HDD1/m2RNA-seq/210426_NovaSeq_SP_TruseqUD_l2_0033_A05_Dr_Funaya_2_ddY_MII_S33_L002/mm10/rsem/210426_NovaSeq_SP_TruseqUD_l2_0033_A05_Dr_Funaya_2_ddY_MII_S33_L002.genes.results',sep='\t')

In [5]:
ddY_1

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM
0,0610005C13Rik,"NR_038165,NR_038166",1122.00,890.79,4.00,0.24,0.09
1,0610007P14Rik,NM_021446,1185.00,953.79,1217.00,66.93,25.70
2,0610009B22Rik,NM_025319,795.00,563.80,458.00,42.61,16.36
3,0610009L18Rik,NR_038126,619.00,388.16,20.00,2.70,1.04
4,0610009O20Rik,NM_024179,2404.00,2172.79,300.00,7.24,2.78
...,...,...,...,...,...,...,...
24406,Zyx,"NM_001289617,NM_001289618,NM_001289619,NM_011777",2617.21,2386.00,290.05,6.38,2.45
24407,Zzef1,NM_001045536,11150.00,10918.79,1062.00,5.10,1.96
24408,Zzz3,"NM_001080755,NM_001287139",7596.08,7364.87,5863.00,41.76,16.03
24409,a,NM_015770,692.00,460.90,0.00,0.00,0.00
24410,l7Rn6,"NM_001291286,NM_001291287,NM_001291288,NM_0012...",1052.00,820.79,476.00,30.42,11.68

In [6]:
BDF1_1

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM
0,0610005C13Rik,"NR_038165,NR_038166",1018.50,785.00,0.0,0.00,0.00
1,0610007P14Rik,NM_021446,1185.00,951.50,1514.0,74.55,27.88
2,0610009B22Rik,NM_025319,795.00,561.53,580.0,48.39,18.10
3,0610009L18Rik,NR_038126,619.00,386.05,20.0,2.43,0.91
4,0610009O20Rik,NM_024179,2404.00,2170.50,421.0,9.09,3.40
...,...,...,...,...,...,...,...
24406,Zyx,"NM_001289617,NM_001289618,NM_001289619,NM_011777",2611.00,2377.50,485.0,9.56,3.57
24407,Zzef1,NM_001045536,11150.00,10916.50,1231.0,5.28,1.98
24408,Zzz3,"NM_001080755,NM_001287139",7596.06,7362.55,8092.0,51.50,19.26
24409,a,NM_015770,692.00,458.69,0.0,0.00,0.00
24410,l7Rn6,"NM_001291286,NM_001291287,NM_001291288,NM_0012...",1032.45,798.95,429.0,25.16,9.41

In [7]:
#DataFrame作成
df = pd.DataFrame(index=[], columns=[])
df['gene_id'] = BDF1_1['gene_id']

In [8]:
#TPM
df['BDF1_TPM_avr'] = (BDF1_1['TPM']+BDF1_2['TPM']) / 2
df['ICR_TPM_avr'] = (ICR_1['TPM']+ICR_2['TPM']) / 2
df['ddY_TPM_avr'] = (ddY_1['TPM']+ddY_2['TPM']) / 2

In [9]:
#FPKM
df['BDF1_FPKM_avr'] = (BDF1_1['FPKM']+BDF1_2['FPKM']) / 2
df['ICR_FPKM_avr'] = (ICR_1['FPKM']+ICR_2['FPKM']) / 2
df['ddY_FPKM_avr'] = (ddY_1['FPKM']+ddY_2['FPKM']) / 2

In [10]:
df

,gene_id,BDF1_TPM_avr,ICR_TPM_avr,ddY_TPM_avr,BDF1_FPKM_avr,ICR_FPKM_avr,ddY_FPKM_avr
0,0610005C13Rik,0.000,0.070,0.120,0.000,0.025,0.045
1,0610007P14Rik,75.125,71.010,70.935,28.885,28.195,27.560
2,0610009B22Rik,51.995,52.820,45.160,20.025,21.005,17.545
3,0610009L18Rik,2.180,6.045,2.560,0.835,2.405,0.995
4,0610009O20Rik,8.540,6.290,6.905,3.280,2.500,2.680
...,...,...,...,...,...,...,...
24406,Zyx,9.880,5.195,6.115,3.800,2.060,2.375
24407,Zzef1,5.310,4.405,5.240,2.045,1.745,2.035
24408,Zzz3,48.870,39.780,41.065,18.760,15.795,15.940
24409,a,0.000,0.000,0.000,0.000,0.000,0.000
24410,l7Rn6,25.880,33.035,29.905,9.955,13.115,11.610

In [11]:
df.to_csv("./seqData/M2_expression_mm10.tsv",index=False,sep='\t')

平均化なしも

In [12]:
#DataFrame作成
df2 = pd.DataFrame(index=[], columns=[])
df2['gene_id'] = BDF1_1['gene_id']
df2['BDF1_FPKM_rep1'] = BDF1_1['FPKM']
df2['BDF1_FPKM_rep2'] = BDF1_2['FPKM']
df2['ICR_FPKM_rep1'] = ICR_1['FPKM']
df2['ICR_FPKM_rep2'] = ICR_2['FPKM']
df2['ddY_FPKM_rep1'] = ddY_1['FPKM']
df2['ddY_FPKM_rep2'] = ddY_2['FPKM']

In [13]:
df2

,gene_id,BDF1_FPKM_rep1,BDF1_FPKM_rep2,ICR_FPKM_rep1,ICR_FPKM_rep2,ddY_FPKM_rep1,ddY_FPKM_rep2
0,0610005C13Rik,0.00,0.00,0.03,0.02,0.09,0.00
1,0610007P14Rik,27.88,29.89,27.18,29.21,25.70,29.42
2,0610009B22Rik,18.10,21.95,18.43,23.58,16.36,18.73
3,0610009L18Rik,0.91,0.76,2.09,2.72,1.04,0.95
4,0610009O20Rik,3.40,3.16,2.18,2.82,2.78,2.58
...,...,...,...,...,...,...,...
24406,Zyx,3.57,4.03,1.86,2.26,2.45,2.30
24407,Zzef1,1.98,2.11,1.68,1.81,1.96,2.11
24408,Zzz3,19.26,18.26,15.23,16.36,16.03,15.85
24409,a,0.00,0.00,0.00,0.00,0.00,0.00
24410,l7Rn6,9.41,10.50,12.77,13.46,11.68,11.54

In [14]:
df2.to_csv("./seqData/M2_FPKM_mm10_row.tsv",index=False,sep='\t')