In [1]:
#! usr/bin/env python

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline

# 目盛り調整のticker追加
import matplotlib.ticker as ticker

In [4]:
#データの読み込み
df = pd.read_csv('./genes/BDF1_expressed.tsv', sep='\t')
df

          gene_id  BDF1_FPKM_avr  ICR_FPKM_avr  ddY_FPKM_avr
0   1190007I07Rik          5.335         1.070         0.705
1   1700097N02Rik          3.230         0.625         0.340
2   2810002D19Rik          2.220         1.270         1.030
3        AF067063          1.320         0.415         0.245
4         Abhd14a          1.345         0.680         0.510
..            ...            ...           ...           ...
85         Ublcp1         16.770         3.525         3.170
86         Vps37a         10.120         5.655         5.055
87         Zfp534          2.945         0.850         0.630
88         Zfp608          5.900         2.935         0.910
89         Zfp708         17.340         1.820         1.365

[90 rows x 4 columns]

In [7]:
ch = pd.read_csv('/Users/shigenseigyo/Desktop/reference/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.bed', sep='\t', header=None)
ch

,0,1,2,3,4,5,6,7,8,9
0,chr1,3214481,3216968,Xkr4,.,-,unknown,exon,.,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
1,chr1,3216021,3216024,Xkr4,.,-,unknown,stop_codon,.,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
2,chr1,3216024,3216968,Xkr4,.,-,unknown,CDS,2,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
3,chr1,3421701,3421901,Xkr4,.,-,unknown,CDS,1,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
4,chr1,3421701,3421901,Xkr4,.,-,unknown,exon,.,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
...,...,...,...,...,...,...,...,...,...,...
672338,chrY,90793295,90793417,Erdr1,.,+,unknown,CDS,0,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."
672339,chrY,90793295,90793417,Erdr1,.,+,unknown,exon,.,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."
672340,chrY,90816348,90816444,Erdr1,.,+,unknown,CDS,1,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."
672341,chrY,90816348,90816465,Erdr1,.,+,unknown,exon,.,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."
672342,chrY,90816444,90816447,Erdr1,.,+,unknown,stop_codon,.,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."

In [10]:
ch = ch[~ch[3].duplicated()]
ch = ch.rename({3:'gene_id'},axis=1)
ch

,0,1,2,gene_id,4,5,6,7,8,9
0,chr1,3214481,3216968,Xkr4,.,-,unknown,exon,.,"gene_id ""Xkr4""; gene_name ""Xkr4""; p_id ""P15391..."
8,chr1,4290845,4293012,Rp1,.,-,unknown,exon,.,"gene_id ""Rp1""; gene_name ""Rp1""; p_id ""P17361"";..."
27,chr1,4490927,4492668,Sox17,.,-,unknown,exon,.,"gene_id ""Sox17""; gene_name ""Sox17""; p_id ""P169..."
68,chr1,4773199,4774516,Mrpl15,.,-,unknown,exon,.,"gene_id ""Mrpl15""; gene_name ""Mrpl15""; p_id ""P1..."
96,chr1,4807892,4807982,Lypla1,.,+,unknown,exon,.,"gene_id ""Lypla1""; gene_name ""Lypla1""; p_id ""P6..."
...,...,...,...,...,...,...,...,...,...,...
672061,chrY,64301782,64302222,Gm20816,.,-,unknown,exon,.,"gene_id ""Gm20816""; gene_name ""Gm20816""; p_id ""..."
672062,chrY,64301784,64302217,Gm20867,.,-,unknown,exon,.,"gene_id ""Gm20867""; gene_name ""Gm20867""; p_id ""..."
672137,chrY,67339048,67340047,Gm20806,.,-,unknown,exon,.,"gene_id ""Gm20806""; gene_name ""Gm20806""; p_id ""..."
672323,chrY,83789753,83790098,Gm20854,.,-,unknown,exon,.,"gene_id ""Gm20854""; gene_name ""Gm20854""; p_id ""..."
672335,chrY,90785441,90785979,Erdr1,.,+,unknown,exon,.,"gene_id ""Erdr1""; gene_name ""Erdr1""; p_id ""P575..."

In [13]:
d = pd.merge(df,ch ,on = 'gene_id',how = 'outer')
d = d.dropna(how='any')
d

,gene_id,BDF1_FPKM_avr,ICR_FPKM_avr,ddY_FPKM_avr,0,1,2,4,5,6,7,8,9
0,1190007I07Rik,5.335,1.070,0.705,chr10,82619850,82620217,.,-,unknown,exon,.,"gene_id ""1190007I07Rik""; gene_name ""1190007I07..."
1,1700097N02Rik,3.230,0.625,0.340,chr17,30622440,30622694,.,-,unknown,exon,.,"gene_id ""1700097N02Rik""; gene_name ""1700097N02..."
2,2810002D19Rik,2.220,1.270,1.030,chr2,94406706,94406966,.,+,unknown,exon,.,"gene_id ""2810002D19Rik""; gene_name ""2810002D19..."
3,AF067063,1.320,0.415,0.245,chr13,119827960,119828688,.,-,unknown,exon,.,"gene_id ""AF067063""; gene_name ""AF067063""; p_id..."
4,Abhd14a,1.345,0.680,0.510,chr9,106440050,106440404,.,-,unknown,exon,.,"gene_id ""Abhd14a""; gene_name ""Abhd14a""; p_id ""..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Ublcp1,16.770,3.525,3.170,chr11,44454570,44455615,.,-,unknown,exon,.,"gene_id ""Ublcp1""; gene_name ""Ublcp1""; p_id ""P1..."
86,Vps37a,10.120,5.655,5.055,chr8,40511782,40512233,.,+,unknown,exon,.,"gene_id ""Vps37a""; gene_name ""Vps37a""; p_id ""P2..."
87,Zfp534,2.945,0.850,0.630,chr4,147674224,147674227,.,-,unknown,stop_codon,.,"gene_id ""Zfp534""; gene_name ""Zfp534""; p_id ""P1..."
88,Zfp608,5.900,2.935,0.910,chr18,54888044,54889081,.,-,unknown,exon,.,"gene_id ""Zfp608""; gene_name ""Zfp608""; p_id ""P2..."
89,Zfp708,17.340,1.820,1.365,chr13,67069397,67071528,.,-,unknown,exon,.,"gene_id ""Zfp708""; gene_name ""Zfp708""; p_id ""P1..."

In [14]:
d = d.rename({0:'chr'},axis=1)

In [15]:
d = d[['chr','gene_id','BDF1_FPKM_avr','ICR_FPKM_avr','ddY_FPKM_avr']]
d

      chr        gene_id  BDF1_FPKM_avr  ICR_FPKM_avr  ddY_FPKM_avr
0   chr10  1190007I07Rik          5.335         1.070         0.705
1   chr17  1700097N02Rik          3.230         0.625         0.340
2    chr2  2810002D19Rik          2.220         1.270         1.030
3   chr13       AF067063          1.320         0.415         0.245
4    chr9        Abhd14a          1.345         0.680         0.510
..    ...            ...            ...           ...           ...
85  chr11         Ublcp1         16.770         3.525         3.170
86   chr8         Vps37a         10.120         5.655         5.055
87   chr4         Zfp534          2.945         0.850         0.630
88  chr18         Zfp608          5.900         2.935         0.910
89  chr13         Zfp708         17.340         1.820         1.365

[90 rows x 5 columns]

In [19]:
d.to_csv("./genes/chrPlus.tsv",index=False,sep='\t')